<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
    <classes>
      <class name="Tests.Registration"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="Tests.Login"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test3">
    <classes>
      <class name="Tests.FlightBooking"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test4">
    <classes>
      <class name="Tests.ChangePassword"/>
    </classes>
  </test> <!-- Test --> 
  <test name="Test5">
    <classes>
      <class name="Tests.Temp"/>
    </classes>
  </test> <!-- Test -->    
</suite> <!-- Suite -->
